@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap'); 

* {
    margin: 0;
    padding: 0;
}

.section-one {
    height: 90vh;
    background-color: #86509c;
    position: relative;
}

.section-one .navbar {
    display: flex;
    justify-content: space-around; 
    align-items: center;
    height: 60px;
    position: absolute;
    width: 100%;
}

.section-one .navbar__item {
    padding: 5px 10px;
    margin: 5px 10px;
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}

.section-one .navbar__item_active {
    background-color: #802fa0;
}

.section-one .navbar__item:hover {
    background-color: #802fa0;
}

.section-one .navbar__logo {
    color: #ffffff;
    font-size: 1.3rem;
    font-family: 'Open Sans Condensed', sans-serif;
}

.section-one article {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}

.section-one h2 {
    width: 1000px;
    text-align: center;
    margin-bottom: 30px;
    font-size: 50px;
    padding-bottom:3%;
}

.section-one .btn {
    padding: 10px 20px;
    background-color: #eb7d4a;
    color: #fff;
    border: none;
    border-radius: 2px;
    font-size: 20px;
}

@media screen and (max-width: 576px) {
	.container {
		width: 80%;
	}
}

    /* ==== section two ==== */
    
    .section-two {
    min-height: 100vh;
    background-color: #17c1a4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }
    
    .section-two__title {
    text-transform: uppercase;
    margin-top: 50px;
    margin-bottom: 20px;
    position: relative;
    font-size: 40px;
    }
    
    .section-two__title:after {
    content: '';
    position: absolute;
    border-bottom: 2px solid #108b77;
    width: 70px;
    bottom: -10px;
    left: calc(50% - 35px);
    }
    
    .section-two__discription {
    max-width: 600px;
    font-size: 1.2rem;
    text-align: center;
    }
    
    .section-two__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    
    .section-two__item {
    margin: 40px;
    }
    
    .section-two .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    }
    
    .section-two .card__name {
    text-transform: uppercase;
    color: white;
    }
    
    
    .section-two .card__discription {
    margin: 10px 0px;
    text-align: center;
    }
    
    .section-two .card__link-list {
    display: flex;
    justify-content: space-between;
    }
    
    .section-two .card__link-item {
    background-color: rgba(194, 194, 194, 0.815);
    padding: 5px;
    border-radius: 100%;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    }
    
    .section-two a {
    text-decoration:none;
    }
    
    .section-two h2{
    color: white;
    font-family: 'Montserrat', sans-serif;
    }
    
    .section-two p{
    color: white;
    padding-top:2%;
    }
    
    .section-two .h3{
        margin-top: 50px;
        padding-top:2%;
    }

    @media screen and (max-width: 576px) {
        .container {
            width: 80%;
        }
    }

    /* ==== section three ==== */

.section-three {
    min-height: 100vh;
    background-color: #e6f2f8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-three__title {
    text-transform: uppercase;
    margin-top: 50px;
    margin-bottom: 20px;
    position: relative;
    font-size: 40px;
}

.section-three__title:after {
    content: '';
    position: absolute;
    border-bottom: 2px solid #a6a7a8;
    width: 70px;
    bottom: -10px;
    left: calc(50% - 35px);
}

.section-three__discription {
    max-width: 600px;
    font-size: 1.2rem;
    text-align: center;
}

.section-three__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.section-three__item {
    margin: 40px;
} 

.section-three .card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-three .card__name {
    text-transform: uppercase;
    color: #444a64;
}

.section-three__item .card__name{
    color: #444a64;
}

.section-three .card__title {
    color: rgb(0, 180, 224);
}

.section-three .card__discription {
    margin: 10px 0px;
    text-align: center;
}

.section-three .card__link-list {
    display: flex;
    justify-content: space-between;
}

.section-three .card__link-item {
    background-color: rgb(194, 194, 194);
    padding: 5px;
    border-radius: 100%;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

.section-three a {
    text-decoration:none;
}
.section-three h3{
    padding-top: 15%;
}
.section-three h2{
    font-family: 'Montserrat', sans-serif;
    color: #444a64;
}
.section-three p{
    padding-top:3%;
    color: #444a64;
}

.youtube:hover {
    color: #fff;
    background-color: rgb(211, 9, 9);
}

.instagram:hover {
    color: #fff;
    background-color: rgb(230, 51, 191);
}

.vk:hover {
    color: #fff;
    background-color: rgb(65, 65, 230);
}

.section-three {
    padding-top:10%;
    padding-bottom:10%;
}


@media screen and (max-width: 576px) {
    .container {
           width: 80%;
    }
}

/* ==== section four ==== */
    
.section-four {
    min-height: 100vh;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
        
        .section-four__title {
        text-transform: uppercase;
        margin-top: 50px;
        margin-bottom: 20px;
        position: relative;
        font-size: 40px;
        }
        
        .section-four__title:after {
        content: '';
        position: absolute;
        border-bottom: 2px solid #18171744;
        width: 70px;
        bottom: -10px;
        left: calc(50% - 35px);
        }
        
        .section-four__discription {
        max-width: 600px;
        font-size: 1.2rem;
        text-align: center;
        }
        
        .section-four__list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        }
        
        .section-four__item {
        margin: 40px;
        }
        
        .section-four .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        }
        
        .section-four .card__name {
        text-transform: uppercase;
        color: black;
        }
        
        
        .section-four .card__discription {
        margin: 10px 0px;
        text-align: center;
        }

        .section-four h2{
        font-family: 'Montserrat', sans-serif;
        color: black;
        padding-bottom: 1%;
        }
        
        .section-four p{
        font-family: 'Open Sans Condensed', sans-serif;
        color: rgb(100, 100, 100);
        padding-bottom: 10%;
        }
        
        .section-four .h3{
        margin-top: 50px;
        font-family: 'Montserrat', sans-serif;

        }

        @media screen and (max-width: 576px) {
            .container {
                width: 80%;
            }
        }

/* === section five === */

.section-five .navbar {
    display: flex;
    justify-content: space-around; 
    align-items: center;
    height: 60px;
    width: 100%;
}

.section-five .navbar__item {
    padding: 5px 10px;
    margin: 5px 10px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    border-radius: 5px;
    background-color: #e6c98d;
}

.section-five .navbar__item:hover {
    background-color: white;
}

.section-five h2 {
    width: 400px;
    text-align: center;
    margin-bottom: 30px;
    font-family: 'Montserrat', sans-serif;
    color: #545454;
}

.section-five .btn {
    padding: 10px 20px;
    background-color: #5bbda4;
    color: #fff;
    border: none;
    border-radius: 2px;
    margin-bottom: 50px;
}

.section-five {
    min-height: 100vh;
    background-color: #fadda1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-five__title {
    text-transform: uppercase;
    margin-top: 50px;
    margin-bottom: 20px;
    position: relative;
}

.section-five__title:after {
    content: '';
    position: absolute;
    border-bottom: 2px solid #e6c98d;
    width: 70px;
    bottom: -10px;
    left: calc(50% - 35px);
}


.section-five__discription {
    max-width: 600px;
    font-size: 1.2rem;
    text-align: center;
}

.section-five .card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-five__list{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 40px;
}

.section-five p{
    color: rgb(100, 100, 100)
}
.section-five a{
    padding-bottom:3%;
}
.section-five img{
    padding-top:10%;
}

@media screen and (max-width: 576px) {
	.container {
		width: 80%;
	}
}

/* === section six === */


.section-six {
    min-height: 100vh;
    background-color: #d74681;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-six__title {
    text-transform: uppercase;
    margin-top: 50px;
    margin-bottom: 20px;
    position: relative;
}

.section-six__title:after {
    content: '';
    position: absolute;
    border-bottom: 2px solid #b93a6d;
    width: 70px;
    bottom: -10px;
    left: calc(50% - 35px);
}

.section-six article div {
    margin: 10px;
    margin-bottom: 35px;
    display: grid;
    grid-template-columns: 0.45fr 0.45fr;
    /*display: flex;
    justify-content: space-around;*/ 
}

.section-six .card__name{
    width: 415px;
    font-size: 17px;
}

.section-six header p{
    color: white;
    font-size: 17px;
    text-align: center;
    padding-bottom: 50px;
    padding-top: 10px;
}

.section-six h2 {
    width: 1000px;
    text-align: center;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
}

.section-six i{
    color: #787878;
    font-size: 100px;
    margin-left: 50px;
}

.section-six h3{
    color: rgb(223, 223, 126);
    font-size: 17px;
}

.section-six article p{
    color: white;
    font-size: 17px;
    width:280px;
}

.section-six h4{
    color: white;
    font-size: 17px;
    padding-top: 15px;
    font-family: 'Montserrat', sans-serif;
}

@media screen and (max-width: 576px) {
	.container {
		width: 80%;
	}
}

/* === section seven === */


.section-seven {
    min-height: 100vh;
    background-color: #3c549a;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-seven__title {
    text-transform: uppercase;
    margin-top: 50px;
    margin-bottom: 20px;
    position: relative;
}

.section-seven__title:after {
    content: '';
    position: absolute;
    border-bottom: 2px solid #273a72;
    width: 70px;
    bottom: -10px;
    left: calc(50% - 35px);
}

.section-seven p{
    color: white;
    font-size: 17px;
    text-align: center;
    padding-bottom: 50px;
    padding-top: 10px;
}

.section-seven h2 {
    width: 1000px;
    text-align: center;
    color: white;
    font-size: 40px;
    margin-top: 120px;
    font-family: 'Montserrat', sans-serif;
}

.section-seven .btn {
    padding: 10px 20px;
    background-color: #30bae8;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    width: 300px;
    height: 60px;
    color:white;
    margin-top: 60px;
}

.footer {
	border-top: 1px solid 3c5499; 
	background: #344b8e;
	padding: 45px 0px 37px 0px;
}

.social__item {
	font-size: 24px;
	color: white;
    text-decoration: none;
}

.card__link-list {
	display: flex;
	align-items: center;
	justify-content:space-around;
    list-style-type: none;
}

.input {
	font-size: 20px;
	width: 410px;
	background: #273a71;
	padding: 15px 0px 15px 20px;
	border: 0;
	border-radius: 10px;
	color: white;
}

input::placeholder {
    color: white; 
}

.input:nth-child(3) {
   margin-top: 30px;
   width: 100%;
   padding-bottom: 150px;
}

.form {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	max-width: 900px;	
}

@media screen and (max-width: 576px) {
	.container {
		width: 80%;
	}
}